/* ==========================================================================
   MIXINS
   ========================================================================== */

%tab-focus {
  /* Default*/
  outline: thin dotted $warning-color;
  /* Webkit*/
  outline: 5px auto $warning-color;
  outline-offset: -2px;
}

/*
   em function
   ========================================================================== */

@function em($target, $context: $doc-font-size) {
  @return ($target / $context) * 1em;
}


/*
   Bourbon clearfix
   ========================================================================== */

/*
  * Provides an easy way to include a clearfix for containing floats.
  * link http://cssmojo.com/latest_new_clearfix_so_far/
  *
  * example scss - Usage
  *
  * .element {
  *   @include clearfix;
  * }
  *
  * example css - CSS Output
  *
  * .element::after {
  *   clear: both;
  *   content: "";
  *   display: table;
  * }
*/

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// dark mode
@mixin dark-mode {
  background: $background-color-dark;
  color: $text-color-dark;
  border-color: $border-color-dark;
  border-top-color: $border-color-dark;
  border-bottom-color: $border-color-dark;
  $primary-color : $primary-color-dark;

  .masthead {
    background: rgba($background-color-dark,$background-opacity);
    border-bottom-color: $border-color-dark;
    color: $primary-color-dark;
  }

  .greedy-nav {
    color: $primary-color-dark;
  }
  
  .hidden-links {
    background-color: $background-color-dark;
  }

  .page__footer {
    background: $darker-gray;
    border-top-color: $border-color-dark;
  }

  ::-moz-selection {
    color: $darker-gray;
    background: #fff;
  }
  
  ::selection {
    color: $darker-gray;
    background: #fff;
  }

  .social-icons {
    .fa {
      color: #fff;
    }

    .fa-github,
    .fa-github-alt,
    .fa-github-square {
      color: #e7e7e7;
    }
  }
  
  .author__urls{
    background-color: $background-color-dark;
  }
  // TODO dark background for narrow follow and settings
}

@mixin blur($radius) {
	-webkit-filter: blur($radius); /* Chrome, Safari */
	-ms-filter: blur($radius); /* IE12? */
	filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
	filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
	filter: blur($radius);
}